{% extends 'base.html' %}

{% block title %}Detail Goods Receipt - Manajemen Inventori{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Detail Goods Receipt: {{ grn.grn_number }}</h1>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5>Item dalam Goods Receipt</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Produk</th>
                                <th>SKU</th>
                                <th>Jumlah</th>
                                <th>Harga</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% load humanize %}
                            {% for item in po_items %}
                            <tr>
                                <td>{{ item.product.name }}</td>
                                <td>{{ item.product.sku }}</td>
                                <td>{{ item.qty }}</td>
                                <td>Rp {{ item.price|floatformat:0|intcomma }}</td>
                                <td>Rp {{ item.get_total|floatformat:0|intcomma }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% if po_items %}
                        <tfoot>
                            <tr>
                                <th colspan="4" class="text-end">Total:</th>
                                <th>Rp {{ grn.purchase_order.total_amount|floatformat:0|intcomma }}</th>
                            </tr>
                        </tfoot>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Ringkasan GRN</h5>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <tr>
                        <td>GRN Number:</td>
                        <td>{{ grn.grn_number }}</td>
                    </tr>
                    <tr>
                        <td>Tanggal:</td>
                        <td>{{ grn.received_at|date:"d/m/Y H:i" }}</td>
                    </tr>
                    <tr>
                        <td>PO Number:</td>
                        <td>{{ grn.purchase_order.po_number|default:"-" }}</td>
                    </tr>
                    <tr>
                        <td>Gudang:</td>
                        <td>{{ grn.warehouse.name }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}